<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="CommonServices" value="server,net.tcp://10.0.100.132:4502/CommonService" />
    <add key="VisuServices" value="server,net.tcp://10.0.100.132:4504/Visu" />
    <!--<add key="Extensions" value="MCC.GFA.UiAddonsWPF.dll" />-->
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
